<h3 class="text-xl mb-6">Front-End Tech</h3>
<div class="grid grid-cols-6 gap-3 sm:grid-cols-10 sm:gap-6">
    {
        [
            "react",
            "next",
            "vite",
            "astro",
            "svelte",
            "tailwind",
            "sass",
            "html",
            "css",
            "js",
        ].map((t) => (
            <div
                class="tooltip tooltip-primary tooltip-bottom pb-2"
                data-tip={t}
            >
                <img src={`https://skillicons.dev/icons?i=${t}`} />
            </div>
        ))
    }
</div>

<h3 class="text-xl mt-6 mb-6">Back-End Tech</h3>
<div class="grid grid-cols-6 gap-3 sm:grid-cols-10 sm:gap-6">
    {
        [
            "javascript",
            "typescript",
            "nodejs",
            "python",
            "php",
            "java",
            "go",
            "express",
            "nest",
            "adonis",
            "django",
            "fastapi",
            "laravel",
            "spring",
            "graphql",
        ].map((t) => (
            <div
                class="tooltip tooltip-primary tooltip-bottom pb-2"
                data-tip={t}
            >
                <img src={`https://skillicons.dev/icons?i=${t}`} />
            </div>
        ))
    }
</div>

<h3 class="text-xl mt-6 mb-6">APIs, DBs & others</h3>
<div class="grid grid-cols-6 gap-3 sm:grid-cols-10 sm:gap-6">
    {
        [
            "aws",
            "azure",
            "firebase",
            "vercel",
            "docker",
            "mysql",
            "postgresql",
            "mongodb",
            "debian",
            "nginx",
        ].map((t) => (
            <div
                class="tooltip tooltip-primary tooltip-bottom pb-2"
                data-tip={t}
            >
                <img src={`https://skillicons.dev/icons?i=${t}`} />
            </div>
        ))
    }
</div>
